<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidenav" #sidenav mode="side" opened>
    <mat-nav-list class="app-nav-list">
      <a
        class="app-a-link"
        mat-list-item
        routerLink="/tasks"
        routerLinkActive="router-link-active"
        ><mat-icon>task</mat-icon>Tarefas</a
      >
      <a
        class="app-a-link"
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="router-link-active"
        ><mat-icon>dashboard</mat-icon>Dashboard</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-container-bar">
      <mat-toolbar class="app-toolbar">
        <button class="app-toggle-button" (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- <span>app-todo-list</span> -->
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
