$default-color: #219ebc;
$side-nav-color: #caf0f8;
$text-color: #e9c46a;
$selected-link: #023047;
$background-color: #f0f0f0;

.app-container {
  height: 100vh;
  background-color: $background-color;
  top: 4rem;
  overflow: hidden;

  & .app-sidenav {
    background: $side-nav-color;
    z-index: 1;

    & .app-nav-list {
      display: flex;
      justify-content: center;
      justify-content: center;
      flex-direction: column;
      margin: 1rem 0;

      & .app-a-link {
        display: flex;
        margin-top: 2px;
        height: 3rem;
        padding: 0 2rem;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;

        mat-icon {
          margin-right: 0.8rem;
        }

        &:hover {
          background: $default-color;
        }

        &.router-link-active {
          background: $default-color;
        }
      }
    }
  }

  & .app-container-bar {
    & .app-toolbar {
      background: $default-color;
    }

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    z-index: 999;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;

    & .app-toggle-button {
      width: 2.5rem;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: $side-nav-color;
    }
  }
}